body{
  background-color: #000000 !important;
}


.body-text {
  font: normal normal normal 18px/32px Raleway;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.head-margin-top {
  margin-top: 30px !important;
}

.btn-margin-top {
  margin-top: 10% !important;
}

.mdl-layout__header {
  margin-top: 25px !important;
  background-color: #000 !important;
}

.no-pad {
  padding: none !important;
}

.FooterIcon{
  color: #FF8FCF;
  margin-left: 10px;
  transform: scale(2);
}

.LangIcons{
  color: #ffffff;
  margin: auto;
  transform: scale(1.6);

}

.TestIcons{
  color: #00C2BA;
  margin: auto;
  transform: scale(2);
}

.Testimonial-Section{
  margin-top: 15%;
}

.section-margin-top{
  margin-top: 5%;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
