* {
  top: 0%;
}

body {
  background-color: #1b1b1b !important;
  position: relative;
  top: 0%;
}

.body-text {
  font: normal normal normal 18px/32px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.header-text {
  height: 40vh;
  width: 100%;
}

.header-sub-text {
  width: 90%;
  color: #888;
  margin-top: 4%;
  text-align: justify;
}

/* home nav links */
.Nav-Links {
  color: #fff !important;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  text-decoration: none;
}

/* home nav link text */
.Nav-Link-Text {
  font-size: 18px;
  margin-left: 10px;
  padding-top: 5px;
  vertical-align: middle;
}

.mdl-layout {
  position: relative !important;
}

.head-margin-top {
  margin-top: 30px !important;
}

.btn-margin-top {
  margin-top: 10% !important;
}

.mdl-layout__header {
  background-color: #1b1b1b !important;
  border: none;
  box-shadow: none !important;
  flex-direction: row-reverse !important;
}

/* ------------------ Small smartphones [325px -> 425px] ---------------- */
@media only screen and (max-width: 425px) {
  .mdl-layout__header {
    display: none;
  }

  .header-text {
    height: 45vh;
  }

  .header-sub-text {
    width: 90%;
    margin-top: 2%;
    text-align: justify;
  }

  .btn-margin-top {
    margin-top: 20% !important;
  }
}

.mdl-layout__header-row {
  padding: 30px 80px 0 80px !important;
}

.no-pad {
  padding: none !important;
}

.FooterIcon {
  color: #ff8fcf;
  margin-left: 10px;
  transform: scale(2);
  cursor: pointer;
}

.LangIcons {
  color: #ffffff;
  margin: auto;
  transform: scale(1.6);
}

.TestIcons {
  color: #00c2ba;
  margin: auto;
  transform: scale(2);
}

.Testimonial-Section {
  margin-top: 10%;
}

.section-margin-top {
  margin-top: 5%;
}

.logo {
  text-transform: uppercase;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
