*{
  top: 0%;
}

body{
  background-color: #1b1b1b !important;
  position: relative;
  top: 0%;
}

.body-text {
  font: normal normal normal 18px/32px Raleway;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.header-text{
  height: 40vh;
  /* background-color: purple !important; */
  width: 100%;
  /* text-align: justify; */
  /* display: flex; */
  /* justify-content: space-around; */
}

.header-sub-text{
  width: 90%;
  margin-top: 4%;
  text-align: justify;
}

.mdl-layout{
  position: relative !important;
}

.head-margin-top {
  margin-top: 30px !important;
}

.btn-margin-top {
  margin-top: 10% !important;
}

.mdl-layout__header {
  background-color: #1b1b1b !important;
  border: none;
  box-shadow: none !important;
  flex-direction: row-reverse !important;
}

.mdl-layout__header-row{
  padding: 30px 100px 0 80px !important;
}

.no-pad {
  padding: none !important;
}

.FooterIcon{
  color: #FF8FCF;
  margin-left: 10px;
  transform: scale(2);
}

.LangIcons{
  color: #ffffff;
  margin: auto;
  transform: scale(1.6);

}

.TestIcons{
  color: #00C2BA;
  margin: auto;
  transform: scale(2);
}

.Testimonial-Section{
  margin-top: 15%;
}

.section-margin-top{
  margin-top: 5%;
}

.logo{
  text-transform: uppercase;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
